.header{
	background-color: orange;
}


body{
	background-color: #F4CC70;
	font-size: 16px;
	color: #333;
	

	-webkit-overflow-scrolling:touch; /*Возможность скролинга на телефоне*/

}

h1, h2, h3, h4, h5, h6{
	color: #333;
}

a{
	text-decoration: none;
	color: #333;
}

a:hover{
	text-decoration: none;
	cursor: pointer;
	color: #F4CC70;
}

.menu li{
	margin-left: 20px; 
}

.navbar{
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse{
	background: #DE7A22;
	border-color:#DE7A22;

}



.genre_div_slide{
	width: 120px;
	height: 70px;
	background-image: url("../img/genre_slide.png");
}

.prev{
	display: none;
}
.next{
	display: none;
}


.heading{
	margin-top: 10px;
	background-color: #DE7A22;
}

.heading > .row h4{
	margin-left: 5px;
	color: #F4CC70;
}

.newbook_slider{
	margin-top: 10px;
}

.newbook_slide{
	display: block;
	width: auto;
	margin: 0 auto;
}

.heading_book_slider{
	margin-top: 5px;
	text-align: center;
}
