<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<title th:text="${title}"></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
	<link th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
	<script
			src="https://code.jquery.com/jquery-3.6.0.js"
			integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" ></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" ></script>
	<script th:src="@{/static/js/script.js}" type="text/javascript"></script>

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<img src="../static/img/test-logo.png}" th:src="@{/img/test-logo.png}"/>
		</div>
		<div class="navbar">
			<ul class="nav menu">
				<li><a href="">Жанры</a></li>
				<li><a href="">Авторы</a></li>
				<li><a href="">Популярное</a></li>
				<li><a href="">Случайная книга</a></li>
			</ul>
		</div>
		<div class="navbar">
			<form class="well form-inline">
				<input type="text" class="form-control search-query" placeholder="Поиск...">
				<button class="btn">Найти</button>
			</form>
		</div>
		<div class="navbar">
			<ul class="nav">
				<li><a href="">Войти</a></li>
				\
				<li><a href="">Зарегистрироваться</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="heading container">
	<div class="row"><h4>Новинки</h4></div>
</div>

<div class="container">
	<div class="newbook_slider">
		<div class="newbook_slide">
			<img src="../static/img/book1.png" th:src="@{/img/book1.png}" alt="">
			<h6 class="heading_book_slider">Книга1</h6>
		</div>
		<div class="newbook_slide">
			<img src="../static/img/book1.png" th:src="@{/img/book1.png}" alt="">
			<h6 class="heading_book_slider">Книга1</h6>
		</div>
		<div class="newbook_slide">
			<img src="../static/img/book1.png" th:src="@{/img/book1.png}" alt="">
			<h6 class="heading_book_slider">Книга1</h6>
		</div>
		<div class="newbook_slide">
			<img src="../static/img/book1.png" th:src="@{/img/book1.png}" alt="">
			<h6 class="heading_book_slider">Книга1</h6>
		</div>
		<div class="newbook_slide">
			<img src="../static/img/book1.png" th:src="@{/img/book1.png}" alt="">
			<h6 class="heading_book_slider">Книга1</h6>
		</div>
		<div class="newbook_slide">
			<img src="../static/img/book1.png" th:src="@{/img/book1.png}" alt="">
			<h6 class="heading_book_slider">Книга1</h6>
		</div>
		<div class="newbook_slide">
			<img src="../static/img/book1.png" th:src="@{/img/book1.png}" alt="">
			<h6 class="heading_book_slider">Книга1</h6>
		</div>
		<div class="newbook_slide">
			<img src="../static/img/book1.png" th:src="@{/img/book1.png}" alt="">
			<h6 class="heading_book_slider">Книга1</h6>
		</div>
		<div class="newbook_slide">
			<img src="../static/img/book1.png" th:src="@{/img/book1.png}" alt="">
			<h6 class="heading_book_slider">Книга1</h6>
		</div>
		<div class="newbook_slide">
			<img src="../static/img/book1.png" th:src="@{/img/book1.png}" alt="">
			<h6 class="heading_book_slider">Книга1</h6>
		</div>
	</div>
</div>

<div class="container">
	<div><img src="" class="author"></div>
	<div>
		<h4></h4>
	</div>
</div>

<footer></footer>

</body>
</html>